exps/
wandb/
outputs/
output/

*.pyc
*/__pycache__/
src/__pycache__/
src/trainers/__pycache__/

*.pyc
*.pth
*.pt
*.png

commands.txt

brainlm/*

.vscode/*
ophys_experiment_data/*
PATH_TO_MANIFEST_FILE